<div class="container d-flex justify-content-center w-100 p-5 m-5">
  <div class="card text-center w-75" style="height: 25rem;">
    <div class="card-body p-4">
      <button type="button" href="#" class="btn btn-primary p-2 w-25" (click)="gotoPage('step2')">ADVENTURO APP</button>
      
      <p class="card-text p-5">
        Adventuro is India’s largest adventure travel website. They make it easy for you to book your next adventure trip.
      </p>
    </div>
    <p class="card-text p-2" style="font-size: small;">CREATED BY RAM AND PRAMOD</p>
    <div class="card-footer text-muted">Last Updated 2 days ago</div>
  </div>
</div>
